.container {
  margin-top: 85px;
  height: clac(100vh - 74px);
  width: 100%;
  position: relative;
}

#room__container {
  position: relative;
  display: flex;
  gap: 3rem;
}

#members__button { /*新增成員按鈕*/
  display: block;
}

#members__container { /*成員整個列表處(不包括在縣人數小框)*/
  background-color: #262625; /*262625*/
  border-right: 1px solid #797a79;
  overflow-y: auto;
  width: 90%;
  max-width: 250px;
  max-width: 250px;
  position: fixed;
  height: 100%; /*100%*/
  z-index: 999;

  display: none;
}

#members__count { /*在線人數右邊正方形框框*/
  background-color: #1d1d1c; /*1d1d1c*/
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  color: #ffffff;
}

#members__header { /*在現人數小框*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  position: fixed; /*fixed*/
  bottom: 0;
  font-size: 18px;
  background-color: #323143;
  width: 218px;
}

#member__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem; /*5*/
  padding-bottom: 10rem; /*6.5*/
}

.members__list::-webkit-scrollbar { /*滾動(拖曳)?*/
  height: 14px;
}

.member__wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-left: 1em;
}

.green__icon { /*在線人員左邊的小點**/
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #2aca3e;
}

.member_name{ /*在線人員的名字*/
  font-size: 14px;
  line-height: 0;
}

#messages__container {
  height: calc(100vh - 85px);
  background-color: #262625; 
  right: 0;
  position: absolute;
  width: 100%; 
  max-width: 19rem;/*25 -> 19*/
  overflow-y: auto;
  border-left: 1px solid #797a79;
}

#messages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.message__wrapper:last-child {
  margin-bottom: 6.5rem;
}

.message__wrapper {
  display: flex;
  gap: 10px;
  margin: 1em;
}

.message__body {
  background-color: #363739; 
  border-radius: 10px;
  padding: 10px 15px;
  width: fit-content;
  max-width: 900px;
}

.message__body strong {
  font-weight: 600;
  color: #ede0e0; /*ede0e0*/
}

.message__body__bot{ /*bot 的文字*/
  padding: 0 20px;
  max-width: 900px;
  color: #bdbdbd;
}


.message__author { /*使用者名字 的文字*/
  margin-right: 10px;
  color: #2aca3e!important;

}

.message__author__bot { /*bot名字 的文字*/
  margin-right: 10px;
  color: #a52aca!important;

}

.message__text { 
  margin: 0;
  color: #ffffff; 
}

#message__form { /*右下角文字輸入區塊*/
  width: 17.5rem; /*23.2 -> 17.5*/ 
  position: fixed;
  bottom: 0;
  display: block;
  background-color: #1a1a1a; 
  padding: 0.9em; /*1 -> 0.9 em*/
}

#message__form input {
  color: #fff;
  width: 100%; /*100%*/
  border: none;
  border-radius: 5px;
  padding: 18px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #3f434a; 
}

#message__form input:focus {
  outline: none;
}

#message__form input::placeholder {
  color: #707575;/*707575*/
}

#stream__container { /*整個中間的部分*/
  justify-self: center;
  width: calc(100% - 36.7rem); /*calc(100% - 40.7rem)*/
  position: fixed;
  left: 16.7rem; /*15.7rem*/
  top: clac(100vh - 72px); 
  overflow-y: auto;
  height: 100%; 

  
}

#stream__box{ /*當前有focus畫面下的畫面後面的背景(會影響到畫面大小)*/
  background-color: #3f434a;/*3f434a*/
  height: 72vh;
  display: none;
}

#stream__box .video__container{ /*當前有focus畫面下的畫面*/
  border: 2px solid #000;
  border-radius: 0;
  height: 100%!important;
  width: 100%!important;

  background-size: 300px;

}

#stream__box video{
  border-radius: 0;
}

#streams__container{ /*當前有focus畫面下，畫面下方的小圓圈*/
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 0px; /*225 -> ? px*/
}

.video__container{ /*當前沒有focus畫面下的大圓圈*/
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid #b366f9; 
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  height: 300px;
  width: 300px;
   /*null -> -100*/

  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
}

.video-player{ /*當前沒有focus畫面下的大圓圈裡面的畫面*/
  height: 100%;
  width: 100%;
}

.video-player video{
  border-radius: 50%;
}

.backk{
  width: 222px;
  margin: 0 auto;
  margin-top: 20vh;
}

@media (max-width: 1400px) {
  .video__container{
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 1200px) {
  #members__container {
    display: none;
  }

  #members__button {
    display: block;
  }

  #stream__container {
    width: calc(100% - 25rem);
    left: 0;
  }
}

@media (max-width: 980px) {
  #stream__container {
    width: calc(100% - 20rem);
    left: 0;
  }
  #messages__container {
    max-width: 20rem;
  }

  #message__form {
    width: 18.2rem;
  }
}

@media (max-width: 768px) {
  #stream__container {
    width: 100%;
  }

  .video__container{
    height: 100px;
    width: 100px;
  }

  #messages__container {
    display: none;
  }

  #chat__button {
    display: block;
  }
}

#stream__box {
  position: relative;
}

.stream__focus {
  width: 100%;
  height: 100%;
}

.stream__focus iframe {
  width: 100%;
  height: 100%;
}

.stream__actions { /*直播下面控制畫面等選項*/
  position: fixed;
  bottom: 1rem;
  border-radius: 8px;
  background-color: #1a1a1a60; /*1a1a1a60*/
  padding: 1rem;
  left: 50%;
  display: none;
  gap: 1rem;
  transform: translateX(-50%);
}

.stream__actions a,
.stream__actions button {
  cursor: pointer;
  background-color: #262625;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.stream__actions a svg,
.stream__actions button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #ede0e0;
}

.stream__actions a.active,
.stream__actions button.active,
.stream__actions a:hover,
.stream__actions button:hover {
  background-color: #845695;
}

#join-btn{
  background-color: #845695;
  font-size: 18px;
  padding: 25px 50px;
  border: none;
  color:#fff;

  position: fixed;
  bottom: 1rem;
  border-radius: 8px;
  left:50%;
  transform: translateX(-50%);
  cursor: pointer;
}